<nav>
  <div class="nav-wrapper teal darken-3">
    <span class="brand-logo center">{{title}}</span>
  </div>
</nav>

<div class="container q-container">
  <button class="btn-floating teal add-button" (click)="visibilityAddPanel()">
    <i class=" material-icons">add</i>
  </button>
  <div class="row edit-row" [class.drawer]="plusButton">
    <div class="input-field col s4">
      <input type="text" placeholder="Autor" [(ngModel)]='author' />
    </div>
    <div class="input-field col s6">
      <input type="text" placeholder="Cytat" [(ngModel)]='sentence' />
    </div>
    <div class="input-field col s2">
      <button class="btn small" (click)="addToList(author, sentence)" [disabled]="authot == '' || sentence == ''">
        {{add}}</button>
    </div>
  </div>

  <div class=" row">
    <div class="col s8">
      <div class="row">
        <div class="col s12">
          <ng-container *ngFor="let que of quotations" addToList()>
            <div class="card teal accent-4 hoverable">
              <div class="card-content white-text">
                <span class="card-title">
                  {{que.sentence}}
                </span>
                {{que.author}}
              </div>
              <div class="card-action right-align">
                <span class="badge grey darken-2 left white-text"> {{que.votes}}</span>
                <button class="btn blue mr-5" (click)="dodaj()">
                  <!-- <i class="material-icons">exposure_plus_1</i>  -->
                  + {{ratingPlus}}

                </button>
                <button class="btn brown" (click)="odejmij()">
                  <!-- <i class="material-icons">exposure_neg_1</i> -->
                  {{ratingMinus}}
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="col s4">
      <div class="col s12">
        <h5>{{bestQuotes}}</h5>
        <div class="collection">
          <p class="collection-item">
            <span class="blue lighten-4 badge">7</span>
            Jeśli nie chcesz mojej zguby, krrrokodyla daj mi luby.<br />
            <span class="blue-text">Aleksander Fredro</span>
          </p>
        </div>
      </div>
      <div class="col s12">
        <h5>{{worstQuotes}}</h5>
        <div class="collection">
          <p class="collection-item">
            <span class="blue lighten-4 badge">-2</span>
            Bądź dobrej myśli, bo po co być złej.<br />
            <span class="blue-text">Stanisław Lem</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>